:root {
  --ocean-dark-blue: #404e6c;
  --dark-gray: #4d4d4d;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  position: relative;
  min-height: 100%;
}
main {
  margin: 0 auto;
}
/************** nav ***************/
header {
  background-image: url("../images/mountain-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.nav-bar {
  color: white;
  padding-top: 10px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo-div > img {
  width: 50px;
  background: white;
  border-radius: 100%;
  opacity: 0.7;
  margin-left: 20px;
  margin: auto 0;
}
a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  border-bottom: 1.5px white solid;
  font-weight: 700;
}

.nav-links a:first-child {
  margin: 0 40px;
}
.nav-links {
  margin-right: 20px;
}
.title {
  margin: 0;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
}
.title > p {
  margin: 0;
  color: var(--ocean-dark-blue);
}

header .title {
  line-height: 100px;
  color: white;
  letter-spacing: 5px;
  font-size: 120px;
  margin-top: 30vh;
  margin-left: 20vw;
}
header .title > p {
  margin: 0;
  color: var(--ocean-dark-blue);
}

/************** logo-image-text ***************/
.title-logo {
  margin: 0;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  padding-left: 10px;
  line-height: 1px;
  letter-spacing: 4px;
  font-size: 23px;
  height: 100%;
  padding-top: 20px;
}

.logo-div {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
/************** Main - white border logo  ***************/
.section-white-bar {
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-logo {
  color: var(--dark-gray);
}
main .title-logo > p {
  color: var(--ocean-dark-blue);
}

main .nav-links a {
  color: var(--dark-gray);
  border-bottom: solid 1px var(--dark-gray);
}

/************** Large number ***************/

.large-number {
  margin: 0;
  position: relative;
}
.large-number > p:first-child {
  margin: 0;
  font-size: 120px;
  color: var(--dark-gray);
}

.large-number > p:last-child {
  opacity: 1;
  font-size: 25px;
  font-weight: 700;
  color: var(--ocean-dark-blue);
  position: absolute;
  top: 0;
  margin-left: 130px;
  margin-top: 70px;
}

/************** Main - 01.History  ***************/

.section-01-history {
  position: relative;
  background-image: url("../images/mountain-p2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 90px);
  max-width: 100%;
}
.section-01-history-info {
  max-width: 1200px;
  margin: 0 auto;
}
.section-01-history-info .large-number {
  padding-top: 100px;
}
.section-01-history-info > p {
  margin: 0;
  margin-left: 60px;
  color: var(--dark-gray);
}
.section-01-history .large-number > p:last-child {
  position: absolute;
  margin-left: 130px;
  margin-top: 170px;
}
/************** Main - 01.History - images ***************/
.section-01-history-images {
  width: 100%;
  background-color: var(--ocean-dark-blue);
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0px;
  padding: 30px 0;
}

.section-01-history-images > div {
  display: flex;
  justify-content: center;
  margin: auto;
}
.card > img {
  object-fit: cover;
  width: 180px;
  height: 100px;
  padding: 8px;
}
.dots-box {
  display: flex;
  justify-content: center;
  margin: auto;
}
.dot {
  border: none;
  background: var(--dark-gray);
  width: 2px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}
.dot:hover {
  background: white;
  opacity: 0.7;
  cursor: pointer;
}
.dot.active {
  background: white;
}

/************** Main - 01.TEAM  ***************/

.section-02-team-info {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin: auto;
}
.section-02-team-info p {
  padding-left: 60px;
  margin: auto;
  max-width: 60%;
}
/************** Footer ***************/
footer {
  padding: 20px 0;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  width: 100vw;
  max-width: 100%;
  color: white;
  background-color: var(--ocean-dark-blue);
}
footer .title-logo {
  color: white;
}

.footer-container {
  opacity: 0.7;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.footer-text {
  font-size: 14px;
  margin-right: 20px;
}
