@media only screen and (max-width: 800px) {
  body {
  }

  /************** nav ***************/
  header .title {
    font-size: 100px;
    margin-top: 30vh;
    margin-left: 10vw;
    line-height: 85px;
  }
}
